<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h2>
    "Study Material" means material for everyone related to every stream.
We are not only focusing on only one subject.
This channel is for everyone, you will get videos related to every topic.
Currently Arihant Jain and Vaibhav Agrawal are the only active participants of this channel.
If you are keen to be part of this channel, let us know.
You can contact us via E-Mail/facebook etc.
We are trying to provide the important topic's videos.
The videos provided by this channel are useful for everyone
This channel contains videos of some specific subject and some interesting tricks and many more
Please Give Your Valuable Feedback In The Comment Box Of Videos
For Any Specific subject's Videos, You can tell us in Comment Box
Currently we are providing videos after gap of 2 days.
Support Us Friends
Subscribe Our Channel, Share and Like The videos
</h2>
<a href="{% url 'home' %}">Go Back</a>
<!-- <button onclick="window.location.href = {% url 'home' %}">Go Back</button> -->

</body>
</html>